<div id="menu-bar" class="navbar__menuBar">
	<div class="navbar__menuBar-close">
		<a id="menu-bar__close" class="navbar__btn--close" href="#"><i class="icon-cross"></i></a>
	</div>

	<div class="navbar__menuBar-links">
		<ul class="d-sm-none">
			<!--Links-->
			<li><a href="#" title="O nás">O nás</a></li>
			<li><a href="#" title="Konzultační služby">Konzultační služby</a></li>
			<li><a href="#" title="Portfolio">Portfolio</a></li>
			<li><a href="#" title="Kontakt">Kontakt</a></li>
			<!--! Links-->
		</ul>
		<ul>
			<!--Links-->
			<li><a href="#" title="Odkaz">Quadras sunt danistas</a></li>
			<li><a href="#" title="Odkaz">Vox</a></li>
			<li><a href="#" title="Odkaz">Divio</a></li>
			<li>
				<a href="#" title="Odkaz">Nunquam talem eleates</a>

				<ul class="navbar__menuBar-subLinks">
					<li><a href="#" title="Odkaz">Exemplar, spatii</a></li>
					<li><a href="#" title="Odkaz">Fluctuis ortum!</a></li>
					<li><a href="#" title="Odkaz">Rationes assimilant!</a></li>
					<li><a href="#" title="Odkaz">Exemplar, spatii</a></li>
				</ul>
			</li>
			<li><a href="#" title="Odkaz">Cum agripeta peregrinatione</a></li>
			<!--! Links-->
		</ul>
	</div>
</div>