<div class="navbar container wrapper">
	<div class="row align-items-center justify-content-between">
		<div class="col">
			<a href="home.html" title="Czech Innovation Consulting"><img src="../../images/logo.svg" alt="Czech Innovation Consulting" class="navbar__logo" width="168" height="88"></a>
		</div>
		<div class="col-auto">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="d-none d-sm-block navbar__mainLinks">
						<!--Menu-->
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="O nás">O nás{{> ../btn-icon/link-icon}}</a>
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="Konzultační služby">Konzultační služby{{> ../btn-icon/link-icon}}</a>
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="Portfolio">Portfolio{{> ../btn-icon/link-icon}}</a>
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="Kontakt">Kontakt{{> ../btn-icon/link-icon}}</a>
						<!--! Menu-->
					</div>
					<div>
						<!--Menu icons-->
						<a id="search-bar__open" class="btn-icon btn-icon__color--red" href="#" title="Vyhledat"><i class="icon-search"></i></a>
						<a id="menu-bar__open" class="btn-icon btn-icon__color--red" href="#" title="Podmenu"><i class="icon-hamburger"></i></a>
						<!--! Menu icons-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="search-bar" class="navbar__searchBar">
		<form class="container-fluid" action="?" method="get">
			<div class="row justify-content-center align-items-center">
				<div class="col-1 col-sm-3"></div>
				<div class="col-8 col-sm-6">
					<label>
						<i class="icon-search"></i>
						<input class="navbar__searchBar-input" type="search" placeholder="Vyhledat.." name="s">
					</label>
				</div>
				<div class="col-3 text__align--center">
					<a id="search-bar__close" class="navbar__btn--close" href="#"><i class="icon-cross"></i></a>
				</div>
			</div>
		</form>
	</div>

	<div id="menu-bar" class="navbar__menuBar">
		<div class="navbar__menuBar-close">
			<a id="menu-bar__close" class="navbar__btn--close" href="#"><i class="icon-cross"></i></a>
		</div>
		<div class="navbar__menuBar-links">
			<!--Links-->
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<!--! Links-->
		</div>
	</div>
</div>
