<div class="navbar container wrapper">
	<div class="row align-items-center justify-content-between">
		<div class="col">
			<a href="home.html" title="Czech Innovation Consulting"><img src="../images/logo.svg" alt="Czech Innovation Consulting" class="navbar__logo" width="168" height="88"></a>
		</div>
		<div class="col-auto">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="d-none d-sm-block navbar__mainLinks">
						<!--Menu-->
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="O nás">O nás{{> ../btn-icon/link-icon}}</a>
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="Konzultační služby">Konzultační služby{{> ../btn-icon/link-icon}}</a>
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="Portfolio">Portfolio{{> ../btn-icon/link-icon}}</a>
						<a class="btn-link btn-link__hoverColor--blue btn__icon-anim--oneWay" href="#" title="Kontakt">Kontakt{{> ../btn-icon/link-icon}}</a>
						<!--! Menu-->
					</div>
					<div>
						<!--Menu icons-->
						<a id="search-bar__open" class="btn-icon btn-icon__color--red" href="#" title="Vyhledat"><i class="icon-search"></i></a>
						<a id="menu-bar__open" class="btn-icon btn-icon__color--red" href="#" title="Podmenu"><i class="icon-hamburger"></i></a>
						<!--! Menu icons-->
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> search-bar}}

	{{> menu-bar}}
</div>
