<div id="search-bar" class="navbar__searchBar">
	<form class="container-fluid" action="?" method="get">
		<div class="row justify-content-center align-items-center">
			<div class="col-1 col-sm-3"></div>
			<div class="col-8 col-sm-6">
				<label>
					<i class="icon-search"></i>
					<input class="navbar__searchBar-input" type="search" placeholder="Vyhledat.." name="s">
				</label>
			</div>
			<div class="col-3 text__align--center">
				<a id="search-bar__close" class="navbar__btn--close" href="#"><i class="icon-cross"></i></a>
			</div>
		</div>
	</form>
</div>