{{> ../components/header}}


<div class="container-fluid">
	<div class="wrapper--smaller">
		<article>
			<h1>Index page</h1>

			<ul>
				<li><a href="home.html">Home</a></li>
				<li><a href="subpage.html">Subpage</a></li>
				<li><a href="form.html">Form</a></li>
				<li><a href="404.html">404</a></li>
				<li><a href="sample.html">Sample</a></li>
			</ul>
		</article>
	</div>
</div>

{{> ../components/footer}}
