{{> ../components/header}}

<div class="block container-fluid">
	<div class="wrapper--smaller">
		<article>
			<div class="news__detail-date">
				22.5.2018
			</div>

			<!--Text-->
			<div class="perex">
				Pellentesque maximus rhoncus dolor, vel accumsan metus. Cras sem justo, luctus sed imperdiet ut, convallis quis mi. Praesent tristique elit massa, vel consectetur dolor iaculis et. Vivamus in erat sagittis, hendrerit lorem varius, vehicula nisi. Phasellus efficitur, neque quis semper egestas, ante metus viverra turpis, eu tempor metus leo sed turpis. Maecenas malesuada quam condimentum augue convallis, in tincidunt felis sollicitudin. Aliquam sagittis erat a ornare viverra.
			</div>

			<h3>Lorem ipsum</h3>
			<p>
				<img src="https://i0.wp.com/www.iexpats.com/wp-content/uploads/2017/11/paradise-island.jpg?resize=696%2C392" width="300" height="169" class="float--left"><!--Can be: float--left|float--right|float--middle-->
				Curabitur luctus elit id massa commodo rhoncus. Donec a vehicula massa. Proin dui urna, aliquam vel tellus vel, eleifend interdum velit. Ut et consequat diam, id mollis ex. Donec tincidunt libero eget eleifend elementum. Integer sit amet turpis diam. Donec varius enim a tortor ultrices, sed laoreet enim bibendum. Phasellus viverra fermentum suscipit. Mauris sagittis eget lorem sit amet mattis. Phasellus nec vulputate sapien, non lacinia nisi.
			</p>

			<h4>LOREM IPSUM</h4>
			<p>Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.</p>

			<blockquote cite="https://www.google.com">
				„Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla.“
			</blockquote>

			<p>Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.</p>
			<!--! Text-->
		</article>
	</div>
</div>
<div class="block wrapper text__align--center">
	<a class="btn" href="news-list.html">Všechny aktuality</a>
</div>

{{> ../components/footer}}
