<div class="banner-article text__color--white bg--red">
	<div class="wrapper--smaller">
		<div class="banner-article__text bg--red">
			<h1>Konzultační služby</h1>
			<div class="breadcrumbs">
				<a href="home.html" title="Úvod">Úvod</a> <i class="icon-angle-right"></i> Konzultační služby
			</div>
		</div>
	</div>
	<div class="banner-article__image" style="background-image: url('../images/subpage/bg_banner.jpg')"></div>
</div>
