<div class="block wrapper">
	<div class="container">
		<div class="row">
			<!--Items-->
			<a href="../images/home/references/01.png" class="gallery__item col-12 col-sm-6 col-md-4 col-lg-3" title="Popisek">
				<img src="../images/home/references/01.png" alt="Obrazek">
			</a>
			<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/02.png');">
				<div class="block-reference__item-badge bg--yellow">rozpracováno</div>
				<div class="block-reference__item-text">Consiliums persuadere</div>
				<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
			</a>
			<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/03.png');">
				<div class="block-reference__item-badge bg--green">rozpracováno</div>
				<div class="block-reference__item-text">Consiliums persuadere</div>
				<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
			</a>
			<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/01.png');">
				<div class="block-reference__item-badge bg--blue">rozpracováno</div>
				<div class="block-reference__item-text">Consiliums persuadere</div>
				<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
			</a>
			<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/01.png');">
				<div class="block-reference__item-badge bg--red">rozpracováno</div>
				<div class="block-reference__item-text">Consiliums persuadere</div>
				<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
			</a>
			<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/02.png');">
				<div class="block-reference__item-badge bg--pink">rozpracováno</div>
				<div class="block-reference__item-text">Consiliums persuadere</div>
				<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
			</a>
			<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/03.png');">
				<div class="block-reference__item-badge bg--aqua">rozpracováno</div>
				<div class="block-reference__item-text">Consiliums persuadere</div>
				<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
			</a>
			<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/02.png');">
				<div class="block-reference__item-badge bg--blue">rozpracováno</div>
				<div class="block-reference__item-text">Consiliums persuadere</div>
				<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
			</a>
			<!--! Items-->
		</div>
	</div>
</div>