<div class="block wrapper text__align--center">
	<h2 class="container">Dotace</h2>

	<div class="container block-grant__itemCont">
		<div class="row">
			<!--Items-->
			<div class="col-6 col-sm-4 col-md block-grant__item block__item-padding--vertical">
				<a href="#" title="Dotační audit" class="btn__icon-anim--oneWay">
					<div class="block-grant__icon">
						<i class="icon-i-dot1"></i>
						{{> ../btn-icon/link-icon}}
					</div>
					<div class="block-grant__text">
						Dotační audit
					</div>
				</a>
				<div class="block-grant__arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block-grant__item block__item-padding--vertical">
				<a href="#" title="Zpracování žádosti" class="btn__icon-anim--oneWay">
					<div class="block-grant__icon">
						<i class="icon-i-dot2"></i>
						{{> ../btn-icon/link-icon}}
					</div>
					<div class="block-grant__text">
						Zpracování žádosti
					</div>
				</a>
				<div class="block-grant__arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block-grant__item block__item-padding--vertical">
				<a href="#" title="Získání dotace" class="btn__icon-anim--oneWay">
					<div class="block-grant__icon">
						<i class="icon-i-dot3"></i>
						{{> ../btn-icon/link-icon}}
					</div>
					<div class="block-grant__text">
						Získání dotace
					</div>
				</a>
				<div class="block-grant__arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block-grant__item block__item-padding--vertical">
				<a href="#" title="Administrace projektu" class="btn__icon-anim--oneWay">
					<div class="block-grant__icon">
						<i class="icon-i-dot4"></i>
						{{> ../btn-icon/link-icon}}
					</div>
					<div class="block-grant__text">
						Administrace projektu
					</div>
				</a>
				<div class="block-grant__arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block-grant__item block__item-padding--vertical">
				<a href="#" title="Výběrová řízení" class="btn__icon-anim--oneWay">
					<div class="block-grant__icon">
						<i class="icon-i-dot5"></i>
						{{> ../btn-icon/link-icon}}
					</div>
					<div class="block-grant__text">
						Výběrová řízení
					</div>
				</a>
			</div>
			<!--! Items-->
		</div>
	</div>
</div>
