<div id="block-branches" class="block-branches container-fluid">
	<div class="block-branches__container wrapper">
		<!--Items-->
		<div class="block-branches__item hidden--initial has-image bg--yellow" style="background-image: url('../images/home/branches/icon1.svg')">
			<div class="block-branches__item-content">
				<h2>Expert <strong>elektromobilita</strong></h2>
				<p>Pracujeme pro více než 20&nbsp;klientů.</p>
				<div>
					<a href="#" class="btn btn__color--white btn__icon-anim--toRight" title="Elektromobilita">elektromobilita&nbsp;{{> ../btn-icon/link-icon}}</a>
				</div>
			</div>
		</div>
		<div class="block-branches__item hidden--initial bg--green">
			<div class="block-branches__item-content">
				<h2><strong>Design</strong> & <strong>prototyping</strong></h2>
				<p>Jak připravit a&nbsp;financovat nový produkt?</p>
				<div>
					<a href="#" class="btn btn__color--white btn__icon-anim--toRight" title="Design & prototyping">design &&nbsp;prototyping&nbsp;{{> ../btn-icon/link-icon}}</a>
				</div>
			</div>
		</div>
		<div class="block-branches__item hidden--initial has-image bg--red" style="background-image: url('../images/home/branches/icon2.svg')">
			<div class="block-branches__item-content">
				<h2>
					Inovační
					<br>
					<strong>audit</strong>
				</h2>
				<p>Věříme v potenciál českých lidí a&nbsp;tradičních průmyslových odvětví.</p>
				<div>
					<a href="#" class="btn btn__color--white btn__icon-anim--toRight" title="Inovační audit">Inovační audit&nbsp;{{> ../btn-icon/link-icon}}</a>
				</div>
			</div>
		</div>
		<div class="block-branches__item hidden--initial bg--blue">
			<div class="block-branches__item-content">
				<h2><strong>SME</strong> instrument</h2>
				<p>Víme, jak podpořit malé a&nbsp;střední podniky.</p>
				<div>
					<a href="#" class="btn btn__color--white btn__icon-anim--toRight" title="SME instrument">SME instrument&nbsp;{{> ../btn-icon/link-icon}}</a>
				</div>
			</div>
		</div>
		<div class="block-branches__item hidden--initial has-image bg--pink" style="background-image: url('../images/home/branches/icon3.svg')">
			<div class="block-branches__item-content">
				<h2><strong>Nové</strong> technologie</h2>
				<p>Pracujeme s&nbsp;klienty, kteří mají odvahu k&nbsp;novým věcem.
				</p>
				<div>
					<a href="#" class="btn btn__color--white btn__icon-anim--toRight" title="Nové technologie">Nové technologie&nbsp;{{> ../btn-icon/link-icon}}</a>
				</div>
			</div>
		</div>
		<div class="block-branches__item hidden--initial has-image bg--aqua" style="background-image: url('../images/home/branches/icon4.svg')">
			<div class="block-branches__item-content">
				<h2>
					<strong>Horizont</strong>
					<br>
					2020
				</h2>
				<p>Výzva mezi dotacemi, ale poradíme, jak na to.</p>
				<div>
					<a href="#" class="btn btn__color--white btn__icon-anim--toRight" title="Horizont 2020">Horizont 2020&nbsp;{{> ../btn-icon/link-icon}}</a>
				</div>
			</div>
		</div>
		<!--! Items-->
	</div>
</div>
