<footer class="container text__color--lightBlue text__size--small">
	<div class="content">
		<div class="row row__vertical--center row__horizontal--space-between">
			<div>
				<a href="home.html" title="Czech Innovation Consulting"><img src="../images/logo-white.svg" width="80" height="42" alt="Czech Innovation Consulting"></a>
			</div>
			<div class="row row__vertical--center">
				<div>
					<a class="link link__hoverColor--white text__color--white" href="#" title="O nás">O nás</a>
					<a class="link link__hoverColor--white text__color--white" href="#" title="Konzultační služby">Konzultační služby</a>
					<a class="link link__hoverColor--white text__color--white" href="#" title="Portfolio">Portfolio</a>
					<a class="link link__hoverColor--white text__color--white" href="#" title="Kontakt">Kontakt</a>
				</div>
				<div>
					<a href="#" title="Facebook"><i class="icon-facebook"></i></a>
					<a href="#" title="Twitter"><i class="icon-twitter"></i></a>
					<a href="#" title="Youtube"><i class="icon-youtube"></i></a>
				</div>
			</div>
		</div>

		<div>
			<p>
				<span class="text__color--white">©&nbsp;Copyright Česká&nbsp;inovace 2017</span>
				<br>
				Česká inovace o.p.s., Hvězdova 1734/2c, 140&nbsp;00, Praha&nbsp;4
				<br>
				Konzultace: +420&nbsp;800&nbsp;774&nbsp;774 | info@ceskainovace.cz
			</p>
		</div>
	</div>
</footer>

</body>
</html>
