<footer class="text__color--lightBlue text__size--small">
	<div class="wrapper">
		<div class="container">
			<div class="footer__menuCont row align-items-center justify-content-between">
				<div class="col-12 col-md">
					<a href="home.html" title="Czech Innovation Consulting"><img src="../images/logo-white.svg" width="80" height="42" alt="Czech Innovation Consulting"></a>
				</div>
				<div class="col-12 col-md-auto">
					<div class="row align-items-center">
						<div class="col-sm-12 col-md-auto footer__menu container-fluid">
							<div class="container-fluid">
								<div class="row justify-content-center">
									<!--Menu-->
									<a class="col-7 col-sm-auto btn-link btn-link__hoverColor--white text__color--white" href="#" title="O nás">O nás</a>
									<a class="col-7 col-sm-auto btn-link btn-link__hoverColor--white text__color--white" href="#" title="Konzultační služby">Konzultační služby</a>
									<a class="col-7 col-sm-auto btn-link btn-link__hoverColor--white text__color--white" href="#" title="Portfolio">Portfolio</a>
									<a class="col-7 col-sm-auto btn-link btn-link__hoverColor--white text__color--white" href="#" title="Kontakt">Kontakt</a>
									<!--! Menu-->
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-auto text__align--center">
							<!--Socials-->
							<a class="btn-icon btn-icon__color--lightBlue" href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
							<a class="btn-icon btn-icon__color--lightBlue" href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
							<a class="btn-icon btn-icon__color--lightBlue" href="#" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
							<!--! Socials-->
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<!--Text-->
					<p>
						<span class="text__color--white">©&nbsp;Copyright Česká&nbsp;inovace 2017</span>
						<br>
						Česká inovace o.p.s., Hvězdova 1734/2c, 140&nbsp;00, Praha&nbsp;4
						<br>
						Konzultace: <a href="tel:+420800774774">+420&nbsp;800&nbsp;774&nbsp;774</a> | <a href="mailto:info@ceskainovace.cz">info@ceskainovace.cz</a>
					</p>
					<!--! Text-->
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
