<!doctype html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Page | CIConsulting</title>

	<meta name="description" content="Oficiální web pro CIConsulting."><!--TODO-->
	<meta name="keywords" content="ciconstulting"><!--TODO-->
	<meta name="robots" content="index, follow">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,500,500i,700,700i" rel="stylesheet">
	<link href="../css/style.min.css" rel="stylesheet">
	<link href="../css/hot-fix.css" rel="stylesheet"><!--TODO Tvoje hotfixy-->
</head>
<body>
