<!doctype html>
<html lang="cs" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CIConsulting</title><!--TODO-->

	<meta name="description" content="Oficiální web pro CIConsulting."><!--TODO Popisek webu https://www.jakpsatweb.cz/meta-tagy.html#description-->
	<meta name="keywords" content="ciconstulting"><!--TODO Nejake keywordy pro vyhledavace https://www.jakpsatweb.cz/meta-tagy.html#popis-->
	<meta name="robots" content="index, follow">

	<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
	<link rel="manifest" href="../images/favicons/site.webmanifest">
	<link rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#26599a">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:image" content="../image/og-image.jpg">
	<meta property="og:image:height" content="1036">
	<meta property="og:image:width" content="1978">
	<meta property="og:title" content="CIConsulting">
	<meta property="og:description" content="Lorem Ipsum"><!--TODO Popisek webu-->
	<meta property="og:url" content="http://example.com"><!--TODO URL na web-->

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,500,500i,700,700i" rel="stylesheet">
	<link href="../css/style.min.css" rel="stylesheet">
	<link href="../css/hot-fix.css" rel="stylesheet"><!--TODO Tvoje hotfixy-->
</head>
<body>
	{{> no-js}}
	{{> navbar}}
