<div class="block wrapper text__align--center">
	<h2 class="container">Reference</h2>

	<div class="container">
		<div class="row">
			<div class="col block-reference__text">
				<!--Text-->
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra hendrerit nulla, non consectetur erat lobortis a. Donec id urna ac magna gravida iaculis. Ut gravida enim sed nisi sagittis tempus sit amet rutrum ligula.
				</p>
				<!--! Text-->
			</div>
		</div>

		<div class="row">
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<!--Items-->
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/01.png');">
							<div class="block-reference__item-badge bg--yellow">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/02.png');">
							<div class="block-reference__item-badge bg--yellow">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/03.png');">
							<div class="block-reference__item-badge bg--green">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/01.png');">
							<div class="block-reference__item-badge bg--blue">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/01.png');">
							<div class="block-reference__item-badge bg--red">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/02.png');">
							<div class="block-reference__item-badge bg--pink">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/03.png');">
							<div class="block-reference__item-badge bg--aqua">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<a href="#" class="block-reference__item col-12 col-sm-6 col-md-4 col-lg-3" style="background-image: url('../images/home/references/02.png');">
							<div class="block-reference__item-badge bg--blue">rozpracováno</div>
							<div class="block-reference__item-text">Consiliums persuadere</div>
							<div class="block-reference__item-icon"><i class="icon-hover"></i></div>
						</a>
						<!--! Items-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
