<div class="block wrapper text__align--center">
	<h2 class="container">Napsali o nás</h2>

	<div class="container">
		<div class="row">
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2011.png" alt="Nazev firmy" title=""></a>
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2012.png" alt="Nazev firmy" title=""></a>
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2013.png" alt="Nazev firmy" title=""></a>
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2014.png" alt="Nazev firmy" title=""></a>
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2015.png" alt="Nazev firmy" title=""></a>
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2016.png" alt="Nazev firmy" title=""></a>
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2017.png" alt="Nazev firmy" title=""></a>
			<a class="col-6 col-sm-3 block__item-padding--vertical" href="#" target="_blank"><img src="../images/home/logos/Layer%2018.png" alt="Nazev firmy" title=""></a>
		</div>
	</div>
</div>
