<div class="banner-home banner-home__bg">
	<div class="container-fluid banner-home__content wrapper">
		<div class="row justify-content-center align-items-center">
			<div class="col col-xl-6 text__align--center text__color--white banner-home__text">
				<!--Text-->
				<h1>Podpora <strong>inovací</strong> a&nbsp;<strong>projektů</strong></h1>
				<p class="text__size--big">
					Finančně podporujeme zajímavé projekty
					<br>
					s&nbsp;přidanou hodnotou pro své okolí.
				</p>
				<a class="btn btn__color--white" href="#" title="Jak fungujeme">Jak fungujeme</a>
				<!--! Text-->
			</div>
		</div>
	</div>
</div>
