<div class="block wrapper text__align--center">
	<h2 class="container">Dotace</h2>

	<div class="container block__grant--itemCont">
		<div class="row">
			<div class="col-6 col-sm-4 col-md block__grant--item block__item-padding--vertical">
				<a href="#" title="Dotační audit">
					<div class="block__grant--icon">
						<i class="icon-i-dot1"></i>
					</div>
					<div class="block__grant--text">
						Dotační audit
					</div>
				</a>
				<div class="block__grant--arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block__grant--item block__item-padding--vertical">
				<a href="#" title="Zpracování žádosti">
					<div class="block__grant--icon">
						<i class="icon-i-dot2"></i>
					</div>
					<div class="block__grant--text">
						Zpracování žádosti
					</div>
				</a>
				<div class="block__grant--arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block__grant--item block__item-padding--vertical">
				<a href="#" title="Získání dotace">
					<div class="block__grant--icon">
						<i class="icon-i-dot3"></i>
					</div>
					<div class="block__grant--text">
						Získání dotace
					</div>
				</a>
				<div class="block__grant--arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block__grant--item block__item-padding--vertical">
				<a href="#" title="Administrace projektu">
					<div class="block__grant--icon">
						<i class="icon-i-dot4"></i>
					</div>
					<div class="block__grant--text">
						Administrace projektu
					</div>
				</a>
				<div class="block__grant--arrow">
					<i class="icon-angle-right"></i>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md block__grant--item block__item-padding--vertical">
				<a href="#" title="Výběrová řízení">
					<div class="block__grant--icon">
						<i class="icon-i-dot5"></i>
					</div>
					<div class="block__grant--text">
						Výběrová řízení
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
