<div class="block-branches container-fluid">
	<div class="block-branches__container wrapper">
		<!--Items-->
		<div class="block-branches__item has-image bg--yellow" style="background-image: url('../images/home/branches/icon1.svg')">
			<h2>Expert <strong>elektromobilita</strong></h2>
			<p>Pracujeme pro více než 20&nbsp;klientů.</p>
			<a href="#" class="btn btn__color--white" title="Elektromobilita">elektromobilita</a>
		</div>
		<div class="block-branches__item bg--green">
			<h2><strong>Design</strong> & <strong>prototyping</strong></h2>
			<p>Jak připravit a&nbsp;financovat nový produkt?</p>
			<a href="#" class="btn btn__color--white" title="Design & prototyping">design & prototyping</a>
		</div>
		<div class="block-branches__item has-image bg--red" style="background-image: url('../images/home/branches/icon2.svg')">
			<h2>Inovační <strong>audit</strong></h2>
			<p>Věříme v potenciál českých lidí a&nbsp;tradičních průmyslových odvětví.</p>
			<a href="#" class="btn btn__color--white" title="Inovační audit">Inovační audit</a>
		</div>
		<div class="block-branches__item bg--blue">
			<h2><strong>SME</strong> instrument</h2>
			<p>Víme, jak podpořit malé a&nbsp;střední podniky.</p>
			<a href="#" class="btn btn__color--white" title="SME instrument">SME instrument</a>
		</div>
		<div class="block-branches__item has-image bg--pink" style="background-image: url('../images/home/branches/icon3.svg')">
			<h2><strong>Nové</strong> technologie</h2>
			<p>Pracujeme s&nbsp;klienty, kteří mají odvahu k&nbsp;novým věcem.
			</p>
			<a href="#" class="btn btn__color--white" title="Nové technologie">Nové technologie</a>
		</div>
		<div class="block-branches__item has-image bg--aqua" style="background-image: url('../images/home/branches/icon4.svg')">
			<h2><strong>Horizont</strong> 2020</h2>
			<p>Výzva mezi dotacemi, ale poradíme, jak na to.</p>
			<a href="#" class="btn btn__color--white" title="Horizont 2020">Horizont 2020</a>
		</div>
		<!--! Items-->
	</div>
</div>
