<div class="navbar container">
	<div class="content row row__vertical--center row__horizontal--space-between">
		<div class="navbar__side--logo">
			<a href="home.html" title="Czech Innovation Consulting">
				<img src="../images/logo.svg" alt="Czech Innovation Consulting" width="168" height="88">
			</a>
		</div>

		<div class="navbar__side--menu row">
			<div class="navbar__bigMenu">
				<a class="link link__hoverColor--blue" href="#" title="O nás">O nás</a>
				<a class="link link__hoverColor--blue" href="#" title="Konzultační služby">Konzultační služby</a>
				<a class="link link__hoverColor--blue" href="#" title="Portfolio">Portfolio</a>
				<a class="link link__hoverColor--blue" href="#" title="Kontakt">Kontakt</a>
			</div>
			<div class="navbar__smallMenu">
				<a href="#" title="Vyhledat"><i class="icon-search"></i></a>
				<a href="#" title="Podmenu"><i class="icon-hamburger"></i></a>
			</div>
		</div>
	</div>
</div>
