<div class="navbar container wrapper">
	<div class="row align-items-center justify-content-between">
		<div class="col">
			<a href="home.html" title="Czech Innovation Consulting"><img src="../images/logo.svg" alt="Czech Innovation Consulting" class="navbar__logo" width="168" height="88"></a>
		</div>
		<div class="col-auto">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="d-none d-sm-block navbar__mainLinks">
						<!--Menu-->
						<a class="btn-link btn-link__hoverColor--blue" href="#" title="O nás">O nás</a>
						<a class="btn-link btn-link__hoverColor--blue" href="#" title="Konzultační služby">Konzultační služby</a>
						<a class="btn-link btn-link__hoverColor--blue" href="#" title="Portfolio">Portfolio</a>
						<a class="btn-link btn-link__hoverColor--blue" href="#" title="Kontakt">Kontakt</a>
						<!--! Menu-->
					</div>
					<div>
						<!--Menu icons-->
						<a id="search-bar__open" class="btn-icon btn-icon__color--red" href="#" title="Vyhledat"><i class="icon-search"></i></a>
						<a id="menu-bar__open" class="btn-icon btn-icon__color--red" href="#" title="Podmenu"><i class="icon-hamburger"></i></a>
						<!--! Menu icons-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="search-bar" class="navbar__searchBar">
		<form action="?" method="get">
			<label>
				<i class="icon-search"></i>
				<input type="text" name="s">
			</label>
			<a id="search-bar__close" class="navbar__btn--close" href="#"><i class="icon-cross"></i></a>
		</form>
	</div>

	<div id="menu-bar" class="navbar__menuBar">
		<div class="navbar__menuBar-close">
			<a id="menu-bar__close" class="navbar__btn--close" href="#"><i class="icon-cross"></i></a>
		</div>
		<div class="navbar__menuBar-links">
			<!--Links-->
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<a href="#" title="Odkaz">Odkaz</a>
			<!--! Links-->
		</div>
	</div>
</div>
