.navbar {
	font-size: 0.6rem;
	padding-top: 3em;
	padding-bottom: 3em;

	&__logo {
		width: 10em;
	}

	&__mainLinks {
		margin-right: 3em;

		a {
			padding: 2em 1em;
		}
	}

	@media (min-width: @breakpoint__sm) {
		font-size: 0.7rem;
	}

	@media (min-width: @breakpoint__md) {
		font-size: 0.8rem;
	}

	@media (min-width: @breakpoint__lg) {
		font-size: 1rem;
	}
}
