.btn {
	font-size: 0.9em;
	line-height: 1.2;
	font-weight: bold;
	padding: 1.1em 2.6em;
	color: @color__red;
	border: 3px solid @color__red;
	text-transform: uppercase;
	vertical-align: middle;

	&:hover,
	&:active {
		opacity: 0.8;
		text-decoration: none;
		color: inherit;
	}

	&__color {
		&--white {
			color: @color__white;
			border-color: @color__white;
		}
	}
}

.linkBtn {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2rem 1rem;
	text-decoration: none;

	&:hover,
	&:active {
		color: @color__red;
		text-decoration: none;

		&:before {
			content: '\66';
			.icon();
			color: @color__red;
			position: absolute;
			display: block;
			margin: 1.2rem auto 0;
			left: 0;
			right: 0;
			text-align: center;
		}
	}

	&__hoverColor {
		&--blue {
			&:hover,
			&:active {
				color: @color__blue;
			}
		}

		&--white {
			&:hover,
			&:active {
				color: @color__white;

				&:before {
					color: @color__white;
				}
			}
		}
	}
}

.iconBtn {
	font-size: 2rem;
	padding: 0 0.2rem;

	&:hover,
	&:active {
		text-decoration: none;
		color: lighten(@color__blue, 10%);
	}

	&__color {
		&--red {
			color: @color__red;

			&:hover,
			&:active {
				color: darken(@color__red, 20%);
			}
		}

		&--lightBlue {
			color: @color__lightBlue;

			&:hover,
			&:active {
				color: lighten(@color__lightBlue, 10%);
			}
		}
	}

	@media (min-width: @breakpoint__md) {
		font-size: 1.5rem;
	}
}
