* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 300;
	color: @color__blue;
}

a {
	display: inline-block;
	vertical-align: baseline;
	color: inherit;
}

.wrapper {
	max-width: @content__width;
	margin: 0 auto;
}

/* text */
.text {
	&__color {
		&--white {
			color: @color__white;
		}

		&--lightBlue {
			color: @color__lightBlue;
		}
	}

	&__size--small {
		font-size: 12px;
	}

	&__align {
		&--center {
			text-align: center;
		}
	}
}
