* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 300;
}

a {
	display: inline-block;
	vertical-align: baseline;
}

.container {
	padding: 0 15px;
}

.content {
	max-width: @content__width;
	margin: 0 auto;
}
