@content__width: 1210px;
@content__width--smaller: 1110px;
@content__width--article: 915px;

@transition__length--hover: 300ms;

@breakpoint__sm: 576px;
@breakpoint__md: 768px;
@breakpoint__lg: 992px;
@breakpoint__xl: 1200px;

@color__black: #000;
@color__white: #fff;
@color__grey: #bfbfbf;
@color__red: #ed2348;
@color__blue: #29337a;
@color__lightBlue: #9bb2ee;

@color__yellow: #ffd756;
@color__green: #44b872;
@color__lighterBlue: #1c4da1;
@color__lighterRed: #ee2c4f;
@color__pink: #ec008c;
@color__aqua: #2ed3df;
