.news {
	&__item {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding-bottom: 3rem;

		@media (min-width: @breakpoint__md) {
			padding-bottom: 5rem;
		}

		&:hover,
		&:active {
			text-decoration: none;

			.news__item-content {
				color: darken(@color__grey, 20%);
			}
		}

		&-img {
			width: 7rem;
			height: 7rem;
			margin-right: 1rem;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: none;

			@media (min-width: @breakpoint__sm) {
				display: block;
			}
		}

		&-content {
			flex-grow: 1;
			flex-basis: 1px;
		}

		&-text {
			text-align: justify;
		}

		&-date {
			width: 100%;
			text-align: right;
			color: @color__grey;
			border-top: 1px solid fade(@color__blue, 20%);
			font-size: 0.8rem;
			margin-top: 0.8rem;
			padding-top: 0.5rem;
			align-self: flex-end;
		}

	}

	&__pager {
		text-align: center;

		&-item {
			display: inline-block;
			vertical-align: top;
			background: @color__blue;
			color: @color__white;
			padding: 0.6rem 0.8rem;
			line-height: 1;
			border: 1px solid @color__blue;
			margin: 0 0.2rem 0.2rem;

			&:hover,
			&:active {
				color: @color__white;
				text-decoration: none;
				opacity: 0.8;
			}

			&--active {
				color: @color__blue;
				background: @color__white;
				pointer-events: none;
				cursor: default;
			}
		}
	}
}