<div class="block wrapper">
	<div class="container-fluid">
		<h2 class="text__align--center">Aktuality</h2>

		<div class="row">
			<!--Items-->
			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-img" style="background-image: url('../images/home/references/01.png');"></div>
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>
			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-img" style="background-image: url('../images/home/references/03.png');"></div>
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>

			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-img" style="background-image: url('../images/home/references/01.png');"></div>
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>
			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>

			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-img" style="background-image: url('../images/home/references/01.png');"></div>
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi. Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>
			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-img" style="background-image: url('../images/home/references/03.png');"></div>
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>

			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-img" style="background-image: url('../images/home/references/01.png');"></div>
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>
			<a class="col-12 col-md-6 news__item" href="news-detail.html" title="Curabitur luctus elit">
				<div class="news__item-img" style="background-image: url('../images/home/references/03.png');"></div>
				<div class="news__item-content">
					<h5>Curabitur luctus elit</h5>
					<div class="news__item-text">
						Fusce dapibus a mauris eu mollis. Praesent luctus sed ipsum sit amet auctor. Proin blandit, quam nec consequat feugiat, augue sem volutpat libero, vitae fermentum nunc sem eget nulla. Sed scelerisque, dui nec tempus efficitur, quam ex pellentesque ipsum, sit amet pulvinar lorem elit ac mi.
					</div>
				</div>
				<div class="news__item-date">
					22.5.2018
				</div>
			</a>
			<!--! Items-->
		</div>

		<div class="news__pager">
			<a href="#" title="1" class="news__pager-item">1</a>
			<span class="news__pager-item news__pager-item--active">2</span>
			<a href="#" title="3" class="news__pager-item">3</a>
			<a href="#" title="4" class="news__pager-item">4</a>
		</div>
	</div>
</div>